.darkZotBlue {
    background-color: #1B3D6D;
}

.about-section {
    background-color: #eaeaec; 
    padding: 20px;
    border-radius: 5px; 
    margin: 5px
}

html {
    scroll-behavior: smooth;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    transition: transform 0.3s ease;
}

button[aria-expanded="true"] .triangle {
    transform: rotate(180deg);
}

#navbar {
    transition: top 0.3s;
}

#meal-form {
    padding: 20px
}

.form-select:invalid,
        .form-check-input:invalid {
            border-color: red;
        }
        #submissionMessage {
            display: none;
            margin-top: 15px;
        }

.meal-section {
    background-color: #eaeaec; 
    padding: 20px;
    border-radius: 5px; 
    min-height: 200px;
    border-radius: 10px;
}

#healthForm {
    margin-bottom: 200px;
    margin-top: 200px
}